body {
  background-color: black;
  margin: 100px;
  margin-left: 450px;
  overflow-y: hidden;
}

.button1 {
  font-size: 1.2em;
  color: white;
  font-family: "VT323";
  width: 100px;
  height: 50px;
  background: black;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
  transition: 1s;
}
.button1:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.button2 {
  font-size: 1.2em;
  color: white;
  font-family: "VT323";
  width: 100px;
  height: 50px;
  background: black;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
  transition: 1s;
}
.button2:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.button3 {
  font-size: 1.2em;
  color: white;
  font-family: "VT323";
  width: 150px;
  height: 50px;
  background: black;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
  transition: 1s;
}
.button3:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.button4 {
  font-size: 1.2em;
  color: white;
  font-family: "VT323";
  width: 150px;
  height: 50px;
  background: black;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
  transition: 1s;
}
.button4:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.button5 {
  font-size: 1.2em;
  color: white;
  font-family: "VT323";
  width: 200px;
  height: 50px;
  background: black;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
  transition: 1s;
}
.button5:hover {
  transform: scale(0.9);
  cursor: pointer;
}

.button6 {
  font-size: 1.2em;
  color: white;
  font-family: "VT323";
  width: 150px;
  height: 50px;
  background: black;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
  transition: 1s;
}
.button6:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.button7 {
  font-size: 1.2em;
  color: white;
  font-family: "VT323";
  width: 200px;
  height: 50px;
  background: black;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
  transition: 1s;
}
.button7:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.button8 {
  font-size: 1.2em;
  color: white;
  font-family: "VT323";
  width: 200px;
  height: 50px;
  background: black;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
  transition: 1s;
}
.button8:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.button9 {
  font-size: 1.2em;
  color: white;
  font-family: "VT323";
  width: 200px;
  height: 50px;
  background: black;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
  transition: 1s;
}
.button9:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.button10 {
  font-size: 1.2em;
  color: white;
  font-family: "VT323";
  width: 200px;
  height: 50px;
  background: black;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
  transition: 1s;
}
.button10:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.button11 {
  font-size: 1.2em;
  color: white;
  font-family: "VT323";
  width: 200px;
  height: 50px;
  background: black;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
  transition: 1s;
}
.button11:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.button12 {
  font-size: 1.2em;
  color: white;
  font-family: "VT323";
  width: 300px;
  height: 50px;
  background: black;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
  transition: 1s;
}
.button12:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.button13 {
  font-size: 1.2em;
  color: white;
  font-family: "VT323";
  width: 200px;
  height: 50px;
  background: black;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
  transition: 1s;
}
.button13:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.button14 {
  font-size: 1.2em;
  color: white;
  font-family: "VT323";
  width: 200px;
  height: 50px;
  background: black;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
  transition: 1s;
}
.button14:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.button15 {
  font-size: 1.2em;
  color: white;
  font-family: "VT323";
  width: 200px;
  height: 50px;
  background: black;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
  transition: 1s;
}
.button15:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.button16 {
  font-size: 1.2em;
  color: white;
  font-family: "VT323";
  width: 200px;
  height: 50px;
  background: black;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
  transition: 1s;
}
.button16:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.button17 {
  font-size: 1.2em;
  color: white;
  font-family: "VT323";
  width: 200px;
  height: 70px;
  background: black;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
  transition: 1s;
}
.button17:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.button18 {
  font-size: 1.2em;
  color: white;
  font-family: "VT323";
  transition-duration: 1s;
  width: 150px;
  height: 50px;
  background: black;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
  transition: 1s;
}
.button18:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.button19 {
  font-size: 1.2em;
  color: white;
  font-family: "VT323";
  transition-duration: 1s;
  width: 150px;
  height: 50px;
  background: black;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
  transition: 1s;
}
.button19:hover {
  transform: scale(0.9);
  cursor: pointer;
}

.button20 {
  font-size: 1.2em;
  color: white;
  font-family: "VT323";
  transition-duration: 1s;
  width: 150px;
  height: 50px;
  background: black;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
  transition: 1s;
}
.button20:hover {
  transform: scale(0.9);
  cursor: pointer;
}
