body {
  background-color: wheat;
  margin: 100px;
  margin-left: 450px;
}

.button1 {
  font-size: 1.2em;
  color: white;
  font-family: "VT323";
  width: 100px;
  height: 50px;
  background: black;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
}
.button2 {
  font-size: 1.2em;
  color: white;
  font-family: "VT323";
  width: 100px;
  height: 50px;
  background: black;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
}
.button3 {
  font-size: 1.2em;
  color: white;
  font-family: "VT323";
  width: 150px;
  height: 50px;
  background: black;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
}

.button4 {
  font-size: 1.2em;
  color: white;
  font-family: "VT323";
  width: 150px;
  height: 50px;
  background: black;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
}
.button5 {
  font-size: 1.2em;
  color: white;
  font-family: "VT323";
  width: 200px;
  height: 50px;
  background: black;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
}

.button6 {
  font-size: 1.2em;
  color: white;
  font-family: "VT323";
  width: 150px;
  height: 50px;
  background: black;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
}

.button7 {
  font-size: 1.2em;
  color: white;
  font-family: "VT323";
  width: 200px;
  height: 50px;
  background: black;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
}
.button8 {
  font-size: 1.2em;
  color: white;
  font-family: "VT323";
  width: 200px;
  height: 50px;
  background: black;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
}
.button9 {
  font-size: 1.2em;
  color: white;
  font-family: "VT323";
  width: 200px;
  height: 50px;
  background: black;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
}
.button10 {
  font-size: 1.2em;
  color: white;
  font-family: "VT323";
  width: 200px;
  height: 50px;
  background: black;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
}
.button11 {
  font-size: 1.2em;
  color: white;
  font-family: "VT323";
  width: 200px;
  height: 50px;
  background: black;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
}
.button12 {
  font-size: 1.2em;
  color: white;
  font-family: "VT323";
  width: 300px;
  height: 50px;
  background: black;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
}
.button13 {
  font-size: 1.2em;
  color: white;
  font-family: "VT323";
  width: 200px;
  height: 50px;
  background: black;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
}
.button14 {
  font-size: 1.2em;
  color: white;
  font-family: "VT323";
  width: 200px;
  height: 50px;
  background: black;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
}
.button15 {
  font-size: 1.2em;
  color: white;
  font-family: "VT323";
  width: 200px;
  height: 50px;
  background: black;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
}
.button16 {
  font-size: 1.2em;
  color: white;
  font-family: "VT323";
  width: 200px;
  height: 50px;
  background: black;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
}
.button17 {
  font-size: 1.2em;
  color: white;
  font-family: "VT323";
  width: 200px;
  height: 70px;
  background: black;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
}
.button18 {
  font-size: 1.2em;
  color: white;
  font-family: "VT323";
  transition-duration: 1s;
  width: 150px;
  height: 50px;
  background: black;
  border: 0px;
  position: relative;
  box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray,
    inset 4px 0px 1px 1px lightgray;
}

/* .button18:hover {
  background: red;
} */
